/* global */

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: "open-sans", "Arial", sans-serif;
	color: #AEAEAE;
	background: #444444;
	margin: 0;
	padding: 0;
	cursor:default;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

body > div,
body > div > div {
	height: 100%;
	min-height: 100%;
}

body .home {
	min-height: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}


/* home */

.home {
    width:1258px;
    margin:0px auto;
}

#d3basics rect {
    stroke-width: 1;
    stroke: steelblue;
    fill: #888;
    fill-opacity: 0.5;
}

#basicmap map path, #basicmap points-map path, #interactive-map hover-map path, #interactive-map pan-zoom-map path, #interactive-map globe path, #interactive-map globe-rotate path, #interactive-map globe-drag-rotate path {
    stroke-width: 1;
    stroke: #444444;
    fill: steelblue;
    fill-opacity: 0.5;
}

#basicmap points-map circle {
    stroke-width: 1;
    stroke: #999966;
    fill: #FFFFCC;
    fill-opacity: 1
}

#interactive-map .tooltip {
    position: absolute;
    z-index: 2;
    background: rgba(0,153,76,0.8);
    width: 130px;
    height: 20px;
    color: white;
    font-size: 14px;
    padding: 5px;
    display: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#interactive-map .overlay {
    fill: none;
    pointer-events: all;
}

#interactive-map .usa {
    fill: lightyellow;
    stroke: orange;
    fill-opacity: 1;
}